h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: underline;
    margin-top: 200px;
}
h2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding:10px;
    margin-left: 600px;
    margin-right: 600px;
    border: 5px;
    border-style:ridge;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

 li {
    display: flex;
    justify-content: center; 
    align-items: center;
}

ul {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 95%;
 left: -30px;
}

.logo {
 position: absolute;
 width: 5%;
 height: 10%;
 top: 88%;
 right: 30px;
}

