body { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("neon-quiz-screen-with-question-and-exclamation-vector-56866420.avif");
    background-size: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: underline;
    margin-top: 400px;
    color: goldenrod;
}
h2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding:10px;
    margin-left: 600px;
    margin-right: 600px;
    border: 5px;
    border-style:ridge;
    color: goldenrod;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: goldenrod;
}

 li {
    display: flex;
    justify-content: center; 
    align-items: center;
}

ul {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 95%;
 left: -30px;
}

.logo {
 position: absolute;
 width: 5%;
 height: 10%;
 top: 88%;
 right: 30px;
}


#juste:active{
 background-color: rgb(36, 174, 96);
 transfoctiverm: translateY(4px);
}

#faux:active{
 background-color: rgb(223, 50, 50);
 transfoctiverm: translateY(4px);
}
